{% extends 'base.html' %}
{% load static %}
{% block title %}
    Fake News Detector | Info
{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col mt-3 d-grid align-items-center" style="height: 90vh;">
                    <div style="width: 80%; margin: 0 auto;">
                        <div style="width: 200px;" class="ms-3 mb-3">
                            <img src="{% static 'images/header.png' %}" alt="" class="img-fluid">
                        </div>
                        <h1 style="font-weight: 900; letter-spacing: 2px;"><span class="text-danger">Innovative.</span><span class="text-success">Ambitious.</span><br> & Focused.</h1>
                        <p class="">Our team is composed of experienced and dedicated professionals who bring a wealth of knowledge and skills to their respective roles.</p>
                        <div class="mt-5">
                            <a href="" class="btn btn-lg btn-dark pb-2 border-radius-0">Contact Our Team</a>
                        </div>
                    </div>
                </div>
                <div class="col pt-5">
                    <img src="{% static 'images/team.png' %}" alt="" class="img-fluid">
                </div>

            </div>
        </div>
    </main>
    <section>
        <div class="container py-5 mt-5">
            <h5 class="text-center mb-3" style="font-weight: 900;">Meet our <span class="text-danger">Team Members</span></h5>
            <p class="text-center mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, libero.</p>

            <div class="row pt-5">
                {% for team in teams %}
                    <div class="col-3">
                        <div class="mx-auto mb-4" style="width:150px;">
                            <img src="/static/team/{{team.id}}.jpg" alt="" class="img-fluid" style="border-radius: 50%; border: 10px solid brown;">
                        </div>
                        <div>
                            <h4 class="text-center text-primary" style="font-weight: bold;">{{team.name}}</h4>
                            <p class="text-center">{{team.bio}}</p>
                        </div>
                        <div class="text-center">
                            <a href="{{team.url}}" target="_blank" class="btn btn-sm btn-primary">Linkedin Profile</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}